<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSIC</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,400;1,600&family=Space+Grotesk:wght@500&display=swap');
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename='list-style.css')}}">
    <script defer src="{{ url_for('static', filename='mobile-navbar.js')}}"></script>
</head>
<body>
    <div class="container">

        <header>
            <nav>
                <a href="/" class="logo">Music</a>
                
                <!-- abaixo estou criando o icone de menu de forma manual que aprendi no video " " -->
                <div class="mobile-menu" onclick="handleMenu()">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                
                <ul class="nav-list">
                    <li> <a href="../index.html">Início</a></li>
                    <li> <a href="../sobre_nos/sobre.html">Sobre</a></li>
                    <li> <a id="link-page" href="../lista/listagem.html">Listagem</a></li>
                    <li> <a href="../conc/conceitos.html">Conceito</a></li>
                    <li> <a href="../cadastro/cadastro.html">Cadastro</a></li>
                    
                </ul>
            </nav>
        </header>

        <main>
            <img id="back-image" src="{{ url_for('static', filename='background.png')}}" >

            <div class="desc">
                <p>Insira os seguintes dados:</p> 
            </div><br>

            <form method="GET">

                <input type="text" name="login" id="login" placeholder="Username"> <br>
            
                <input type="email" name="gmail" id="gmail" placeholder="name@email.com"> <br>
            
                <button type="submit">Pesquisar</button><br><br>
            
                <textarea name="reponse" id="reponse">{{resposta}}</textarea>
            </form>
        </main>