<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="{{ url_for('static', filename='mobile-navbar.js')}}"></script>
    <script defer src="{{ url_for('static', filename='c-script.js')}}"></script>
    <title>MUSIC</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='c-style.css')}}">
    
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,400;1,600&family=Space+Grotesk:wght@500&display=swap');
        </style>
</head>
<body>
    <div class="container">

        <header>
            <nav>
                <a href="/" class="logo">Music</a>
                
                <!-- abaixo estou criando o icone de menu de forma manual que aprendi no video " " -->
                <div class="mobile-menu" onclick="handleMenu()">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                
                <ul class="nav-list">
                    <li> <a href="../index.html">Início</a></li>
                    <li> <a href="../sobre_nos/sobre.html">Sobre</a></li>
                    <li> <a href="../lista/listagem.html">Listagem</a></li>
                    <li> <a href="../conc/conceitos.html">Conceito</a></li>
                    <li> <a id="link-page" href="../cadastro/cadastro.html">Cadastro</a></li>

                </ul>
            </nav>
        </header>

        <main>
            <div class="row-1">
                <img src="{{ url_for('static', filename='background.png') }}" id="back-image">
            </div>
            

            <div class="row-2">

                <div class="welcome">
                    <h3 id="title">BEM VINDO!</h3>
                    <p id="desc">Olá! Seja bem vindo ao nosso site.É novo aqui? Que tal efetuar um cadastro?</p>
                </div>

                <div class="register">
                    <p>Hello...</p>
                    <h2>Register</h2>

                    <form method="GET">
                        <input type="text" name="username" id="id_user" placeholder="username">

                        <input type="email" name="email" id="id_email" placeholder="user@email.com">

                        <input type="password" name="password" id="id_pass" placeholder="password">

                        <button type="submit" id="btn_register" onclick="register()">Register</button>
                    </form>

                </div>
                
                <button id="btn_create" onclick="menuRegister()"> Create Account </button>
            </div>

        </main>
    </div>
</body>
</html>