<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSIC</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <script defer src="{{ url_for('static', filename='mobile-navbar.js')}}"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,400;1,600&family=Space+Grotesk:wght@500&display=swap');
      </style>
</head>
<body>
    <div class="container">

        <header>
            <nav>
                <a href="/" class="logo">Music</a> 

                <!-- abaixo estou criando o icone de menu de forma manual -->
                <div class="mobile-menu" onclick="handleMenu()">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>

                <ul class="nav-list">
                    <li> <a id="link-page" href="../index.html">Início</a></li>
                    <li> <a href="../sobre_nos/sobre.html">Sobre</a></li>
                    <li> <a href="../lista/listagem.html">Listagem</a></li>
                    <li> <a href="../conc/conceitos.html">Conceito</a></li>
                    <li> <a href="../cadastro/cadastro.html">Cadastro</a></li>

                </ul>
            </nav>
        </header>

        <main>
            <img src="{{ url_for('static', filename='background.png') }}" id="back-image">
            
            <h1>Welcome</h1><br>
            <div class="desc">
                Este é um site criado do zero por um grupo de alunos da Universidade Tecnológica Federal do Paraná (UTFPR) <br>
                Criado para um trabalho dirigido pelo nosso professor <br>
                Ficou curioso? Acesse diferentes informações clicando nas opções no menu de navegação.
            </div><br>
                
            <h3>GUIA:</h3>
            <div class="guia">
                <div>
                    <b>Sobre</b><br> Oferece mais informações sobre os criadores do site, tipos de conceitos usados no processo decriação e muito mais.
                </div>
                    <br>
                <div>
                    <b>Listagem</b><br> Possibilita que o usuário faça uma pesquisa no banco de dados, retornando uma lista com os dados sugeridos.
                </div>
                    <br>
                <div>
                    <b>Conceitos</b><br>
                    Apresenta os conceitos usados durante a criação do site. 
                </div>
                <br>
                <div>
                    <p><b>Cadastro</b><br> Registro de usuários novos em nosso site.</p>
                </div>
               
        </main>
    </div>
</body>
</html>